/* Colors: 
#B2A6A3  - grey
#7E8D5D - green
#D4B8C6 - purple
#f3ddd9 - background color
*/


* {
   box-sizing: border-box;
   
}

body {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background: #f3ddd9;
}

img {
   max-width: 100%;
   height: auto;
}

/* Navigation */

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f0d0e0;
   padding: 1rem;
   border: 5px solid #7E8D5D;
   min-width: 960px;
}

header nav ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   font-size: 150%;
}

header nav a {
   color: white;
   text-decoration: none;
   padding: 1rem;
   border-radius: 2rem;
   transition: all .75s ease;
}

header nav a:hover {
   background-color: #7E8D5D
}

/* Homepage */
header h1 {
   font-size: 300%;
   color: #7E8D5D;
   font-family: sacramento;
}

section.hero-image {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

main h2 {
   text-align: center;
   font-size: 175%;
   color: #7E8D5D;
}

/* About me */
.aboutme {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 1rem;
   margin: 5rem;
   font-size: 150%;
   line-height: 30px;
}

.shoot {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 1rem;
}

h3 {
   color: #7E8D5D;
   font-size: 150%;
}

/* Services */
.services {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 1rem;
   margin: 2rem;
}
.services img {
   display: flex;
   align-items: center;
   border: 3px solid #f0d0e0;
}

p {
   font-size: 125%;
   text-align: center;
}

/* Contacts */
.contacts {
   font-size: 125%;
   text-align: center;
   line-height: 2rem;
}

.contacts li {
   list-style-type: none;
}

.location {
   font-size: 125%;
   text-align: center;
}

.booking {
   font-size: 125%;
   text-align: center;
   margin-bottom: 2rem;
}

/* Footer */
footer {
   text-align: center;
   background-color: #f0d0e0;
   border: 2px solid #7E8D5D;
   padding: 1rem;
   font-size: 150%;
   display: flex;
   justify-content:space-around;
   align-items: center;
   min-width: 960px;
}

footer a {
   text-decoration: none;
   color: black;
}




